# Core functionality - changes here should be rare!
/src/app.py                   @ikaros0322-commits
/src/backend/database.py      @ikaros0322-commits
/src/backend/routers/auth.py  @ikaros0322-commits

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ikaros0322-commits
